.home-container{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.home-card{
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border-radius: 20px;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 60px 10px
}

.home-content-container h1{
    width: 260px;
    font-size: 1em;
    margin-bottom: 15px;
}

.home-content-container p{
    width: 260px;
    font-size: 0.5em;
    color: #9E9E9E;
    margin-bottom: 30px;
}

.home-image-container{
    padding: 50px 15px;
}

.home-image-container svg {
    width: 100%;
    height: auto;
}

@media (min-width: 576px){
    .home-container{
        padding: 15px;
        font-size: 40px;
    }

    .home-content-container h1{
        width: 506px;
        margin-bottom: 20px;
    }

    .home-content-container p{
        width: 506px;
        margin-bottom: 30px;
    }

    .home-content-container button{
        width: 506px;
    }

    .home-image-container svg {
        width: 506px;
    }
}

@media (min-width: 768px){
    .home-image-container {
        padding: 100px 20px;
    }

    .home-content-container{
        padding: 20px 20px 100px 20px
    }
}

@media (min-width: 992px){
    .home-container{
        font-size: 55px;
        padding: 40px;
    }

    .home-image-container {
        padding: 125px 20px;
    }

    .home-content-container{
        padding: 20px 20px 150px 20px
    }

    .home-content-container h1{
        width: 700px;
        margin-bottom: 26px;
    }
    
    .home-content-container p{
        width: 700px;
        margin-bottom: 47px;
    }
}

@media (min-width: 1200px){
    .home-container{
        font-size: 40px;
        text-align: left;
    }
    .home-card{
        flex-direction: row;
        justify-content: flex-start;
        padding: 60px 45px;
    }

    .home-content-container{
        align-items: flex-start;
        justify-content: center;
        padding: 0px 0px;
    }

    .home-content-container h1{
        width: 450px;
    }
    
    .home-content-container p{
        width: 450px;
        margin-bottom: 170px;
    }
    .home-content-container button{
        width: 300px;
    }

    .home-image-container {
        flex-grow: 2;
        display: flex;
        padding: 0px 0px;
        align-items: center;
    }

    .home-image-container svg {
        width: 90%;
    }
}

@media (min-width: 1400px){
    .home-container{
        font-size: 55px;
        text-align: left;
    }
    .home-card{
        flex-direction: row;
        justify-content: flex-start;
        padding: 80px 100px;
    }
    
    .home-content-container{
        align-items: flex-start;
    }

    .home-content-container h1{
        width: 600px;
    }
    
    .home-content-container p{
        width: 600px;
        margin-bottom: 150px;
    }
    .home-content-container button{
        width: 300px;
    }

    .home-image-container {
        flex-grow: 2;
        display: flex;
        padding: 0px 0px;
        justify-content: center;
    }

    .home-image-container svg {
        width: 100%;
    }
}

@media (min-width: 1920px){

    .home-image-container svg {
        width: 800px;
    }
}